body{
    max-width: 110%;
  }
  
  @media (min-width: 600px) {
    main {
    flex-wrap: nowrap;
  }
  
  main {
    background: #d9d7d5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  #header {
      background-color: darkslategray;
      height: 400px;
      display: flex;
      flex-direction: row;
      gap: 50px;
  }
  
  .header-logo {
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      padding: 30px;
      justify-content: space-between;
  }
  
  #p {
      display: flex;
      margin-bottom: -50px;
      overflow-wrap: break-word;
      padding: 15px;
      color: black;
  }
  
  ul {
      display: flex;
      list-style-type: none;
      gap: 60px;
      color: white;
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
      position: absolute;
      margin-bottom: 800px;
      margin-left: 4%;
  }
  
  .button {
      background-color: #3882F6;
      color: white;
      font-weight: bold;
      border-radius: 8px;
      padding: 5px;
      width: 90px;
      position: absolute;
      margin-top: 0px;
  }
  
  .me {
      margin-top: 40px;
      margin-bottom: 40px;
      border-radius: 8px;
  }
  
  .title {
      font-weight: bold;
      display: flex;
      justify-content: flex-start;   
  }
  
  .second-container, .fourth-container{
      width: 100%;
      height: 300px;
      background-color: white;
  }
  
  .footer {
      width: 100%;
      height: 100px;
  }
  
  #title {
    display: flex;
    justify-content: center;
    margin-bottom: 250px;
    position: absolute;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  .info {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      border: 10px solid darkslategray;
      border-radius: 20px;
      padding: -30px;
      border-style: double;
  }
  
  .second-container{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
  }
  
  .text {
      width:80%;
      text-align:center;
      display:block;
      background-color: transparent;
      border: 1px solid transparent;
      margin-right: 10px;
      margin-bottom: 1px;
      float:left;
      font-family: "Lucida Console", "Courier New", monospace;
      font-weight: bold;
  }
  
  .quote{
    font-size: 36px;
    padding: 30px;
  }
  
  .tag{
    font-size: 30px;
    position: absolute;
    margin-bottom: -100px;
    margin-left: 500px;
  }
  
  .third-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    height: 200px;
  }
  
  .box{
    background-color: #3882F6;
    padding: 30px;
    border-radius: 6px;
    width: 60%;
  }
  
  .fourth-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .call-to-action-button{
     background-color: #3882F6;
     border: 2px solid white;
     border-radius: 6px;
     color: white;
     position: absolute;
     margin-left: 550px;
     margin-top: -60px;
     text-decoration: none;
     padding: 8px;
  }
  
  .footer{
     background-color: darkslategray;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
  }
  }
  